sourceDir = "~/.dotfiles"

[diff]
command = 'delta'

{{ $email := promptString "git email" -}}
{{ $name := promptString "git name" -}}
{{ $gui := promptBool "use gui configs?" -}}
[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
gui = {{ $gui }}

