[credential]
	helper = cache
[core]
	excludesfile = /home/{{- .chezmoi.username -}}/.config/git/ignore
[user]
	name = {{ .name }}
	email = {{ .email }}
[submodule]
	recurse = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[branch]
	autosetuprebase = always
[alias]
	root = rev-parse --show-toplevel
	adog = log --all --decorate --oneline --graph
	gl = config --global -l
	last = log -1 HEAD --stat
	ll = log --oneline
	st = status -sb
  s = status -s
  dd = !git diff | delta
  sd = !git show | delta
  co = checkout
  cob = checkout -b
	cmt = !git commit -m \"time: $(date +\"%Y.%m.%d %H:%M:%S\")\"
	save = !git add -A && git commit -m \"time: $(date +\"%Y.%m.%d %H:%M:%S\")\"
  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
  autocorrect = 20

[delta]
  line-numbers = true
  theme = catppuccin
  ; hunk-header-decoration-style = none
  diff-so-fancy = true
  hunk-header-style             = bold
